/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);


//footer置底//
/*
* {
  margin: 0;
}

html {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height *1/
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}
*/

// welcome美化 //

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

a:hover, a:visited, a{
	text-decoration: none;
}

/*header area*/

.top-header{
	background: #02918C;
	position: fixed;
	width: 100%;
	z-index: 333;
}
.header-row{
	margin: 0;
	padding: 0;
}

/*
.top-header img.logo{
	float: left;
	margin-top: 8px;
	margin-bottom: 30px;
	transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-ms-transition:all 0.7s ease 0s;
}
*/

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  margin-top: 23px;
  transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-ms-transition:all 0.7s ease 0s;
}
.navbar-toggle span{
	color: #fff;
}
ul.nav{
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
 	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	padding: 5px 20px;
	border-radius: 5px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: red;
	background-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  margin-top: 4px;
}

.navbar-brand > img {
  display: inline-block; //图片和链接文字显示在同一行
  margin-right: 10px; //图片和链接文字拉开一点距离
  width: 32px; //定制图片宽度
  height: 32px; //定制图片高度
}

  .navbar-default .navbar-brand {
    font-size: 24px;
  	color: #fff;
  	text-transform: uppercase;
  	font-weight: 800;
  	transition: all .7s ease 0s;
  	-webkit-transition: all .7s ease 0s;
  	-moz-transition: all .7s ease 0s;
  	-o-transition: all .7s ease 0s;
  	-ms-transition: all .7s ease 0s;
  	padding: 0 20px;
  	border-radius: 5px;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: red; //鼠标放置在链接上的文字颜色

    background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
  }

/*banner area*/

.banner{
  margin: 0 -15px 20px;
	background-image: url("http://i1.piimg.com/567571/a76dc60502ea9564.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.banner h3{
	font-size: 30px;
	color: #fff;
	margin-top: 205px;
	font-weight: 800;
}
.banner h1{
	font-size: 68px;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 10px;
}
.banner p{
	font-size: 18px;
	color: #fff;
}

.banner img{
	margin: 50px;
}


.banner button{
	width: 190px;
	height: 50px;
	font-size: 14px;
	background: #FED952;
	border-radius: 2px;
	border: 0px;
	font-weight: 800;
	margin-bottom: 205px;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;

}

.banner button:hover{
	background: red;
	color: #fff;
}

/*about section*/
.about{
	background: #fff;
}
.about h2{
	font-size: 46px;
	color: #02918c;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 90px;
	margin-bottom: 30px;
}
.about-heading img{
	margin-bottom: 30px;
}
.about-heading p{
	font-size: 16px;
	color: #7e8287;
	margin-bottom: 80px;

}
.about-heading p span{
	font-size: 23px;
}
.single-about{
	margin-bottom: 90px;
}
.single-about   .single-about{
	border-left: 1px solid #d9dbdb;
}
.about-inside{
	padding: 50px;
}
.single-about:hover{
	background: red;
	color: #fff;
}
.about-inside h3{
	font-size: 16px;
	color: #7e8287;
	font-weight: 800;
}
.about-inside p{
	font-size: 11px;
	color: #7e8287;
}
.about-inside i.fa{
	color: #02918c;
	font-size: 30px;
}
.single-about:hover .about-inside i.fa{
	color: #fff;
}
.single-about:hover .about-inside p{
	color: #fff;
}
.single-about:hover .about-inside h3{
	color: #fff;
}

/*service area*/
.service{
	margin: 0;
	padding: 0;
	background: url(../img/typing-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.service-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.43);
}
.service h2{
	font-size: 46px;
	color: #02918c;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 75px;
	margin-bottom: 40px;
}
.service p{
	font-size: 16px;
	color: #7e8287;
	margin-top: 35px;
}
.services{
	margin-left: 0;
	padding-left: 0;
}
.bottom-services{
	margin-bottom: 80px;
}
.single-service{
	margin-left: 0;
	padding-left: 20px;
	margin-top: 50px;
	background: #F5F5F1;
}
.single-service:hover{
	background: red;
}
.single-service i.fa{
	color: #08938e;
	font-size: 30px;
	padding-top: 15px;
}
.single-service h3{
	font-size: 16px;
	color: #7e8287;
}
.single-service p{
	font-size: 11px;
	color: #7e8287;
	margin-top: 5px;
}
.single-service:hover.single-service i.fa{
	color: #fff;
}
.single-service:hover.single-service h3{
	color: #fff;
}
.single-service:hover.single-service p{
	color: #fff;
}

/*portfolio area*/
.portfolio h2{
	font-size: 46px;
	color: #02918c;
	margin-top: 100px;
	font-weight: 800;
	margin-bottom: 35px;
}
.portfolio-row{
	margin: 0;
	padding: 0;
}
.portfolio-heading img{
	margin-bottom: 30px;
}
.portfolio-heading p{
	font-size: 16px;
	color: #7e8287;
	margin-bottom: 80px;
}
.single-portfolio{
	margin: 0;
	padding: 0;
	position: relative;
}
.single-portfolio i.fa {
  position: absolute;
  z-index: 222;
  right: 0px;
  bottom: 0px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.39);
  padding: 10px;
  color: #fff;
  display: none;
}
.single-portfolio:hover.single-portfolio i.fa{
	display: block;
}
.portfolio-item{
	position: relative;
	z-index: 10;
}
.portfolio-details{
	position: absolute;
	z-index: 99;
	top: 25px;
  	left: 32px;
	width: 80%;
	height: 80%;
	background: rgba(2, 145, 140, 0.77);
	display: none;
}
.single-portfolio:hover .portfolio-details{
	display: block;
}
.portfolio-item img{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.portfolio-details h4{
	font-size: 16px;
	color: #fff;
	font-weight: 800;
	margin-top: 55px;
}
.portfolio-details p{
	font-size: 13px;
	color: #fff;
	padding: 5px 20px;
}
/*contact area*/
.contact{}
.contact h2{
	font-size: 46px;
	color: #02918c;
	margin-top: 100px;
	font-weight: 800;
	margin-bottom: 35px;
}
.contact p{
	font-size: 16px;
	color: #7e8287;
	margin-top: 30px;
	margin-bottom: 70px;
}
.contact-form{
	margin: 0;
	padding: 0;
	background: #0b0b0b;
	overflow: hidden;
}
.contact-form input{
	text-align: center;
	margin-bottom: 50px;
	border-bottom: 2px solid #898989;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	background: transparent;
	color: #fff;
}
.contact-form input:focus{
	outline: none;
}
input.name{
	margin-top: 55px;
	width: 640px;
}
input.email{
	width: 640px;
}
input.message{
	width: 920px;
}
.contact-form input.submit-btn{
	width: 200px;
	height: 50px;
	border:0;
	background: #cfc91d;
	font-size: 14px;
	color: #0b1016;
	font-weight: 800;
	margin:auto;
	margin: 0 50px;
	margin-bottom: 70px;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
}
.contact-form input.submit-btn:hover{
	background: red;
	color: #fff;
}

.form-input::-webkit-input-placeholder {
color:#EFEFEF;
}
.form-input:-moz-placeholder { /* Firefox 18- */
   color:#EFEFEF;
}

.form-input::-moz-placeholder {  /* Firefox 19  */
   color:#EFEFEF;
}

.form-input:-ms-input-placeholder {
   color:#EFEFEF;
}
/*footer area*/

.footer{
	position: relative;/*此auto也可，其他不可*/
  bottom: 0;
  width: 100%;
  height: 100px;
	background: #02918C;
	color: #fff;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5px;/*此-5px可根据页面实际情况进行调节*/
}

/*body {
  position: relative;
  margin-bottom: 100px; /* 一定要和footer的高度一致 *2/
  min-height: 100%;
}*/


.link {
	color: #FED952;
}

.link:hover {
	color: #98a8aa;
}

.footer p{
	font-weight: bold;
	font-size: 16px;
	padding:25px;
}

i {
	color:#fff;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {

	background-color: #90A4AE;
}

.social-network a.icoGitHub:hover {
	background-color:#90A4AE;
}
.social-network a.icoRss:hover i, .social-network a.icoGitHub:hover i {
	color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.nivo-lightbox-image img{
	width: 600px;
	height: 400px;
}





/******************************
responsive area
********************************/
/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {


}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.single-service{
		margin-bottom: 30px;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 12px 10px;
	}
	input.message {
	  width: 718px;
	}
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	input.name {
	  margin-top: 55px;
	  width: 420px;
	}
	input.email{
		width: 420px;
	}
	input.message{
		width: 420px;
	}
	.banner h1 {
	  font-size: 60px;
	  letter-spacing: 3px;
	}
	.about-inside{
		padding: 10px;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
	.logo{
		margin-top: 10px;
	}
	input.name{
		margin-top: 55px;
		width: 275px;
	}
	input.email{
		width: 275px;
	}
	input.message{
		width: 275px;
	}
	.contact-form input.submit-btn{
		width: 200px;
		height: 50px;
		border:0;
	}
	.banner h1 {
		  font-size: 38px;
		  letter-spacing: 0px;
	}
	.navbar-header{
		margin-top: 5px !important;
	}
	.about-inside{
		padding: 0px;
	}
}


// .admin_panel(管理员后台样式) //

.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

// 登录弹窗界面 //

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}
